<!doctype html>
<html>
    <head>
        
        <link rel="stylesheet" type="text/css" href="/static/home.css">
    </head>

    <body>
        <!-- Top Menu -->

         
        <div class="page">
            <div class = "header">
                    
            <div class = "header-options"> 
                            ABOUT
            </div>
                        <a href = "" class = "header-options"> 
                            MENU
                        </href>

                        <div class = "header-options-logo"> 
                        DOYDOY'S &nbsp;&nbsp;BAKE&nbsp;&nbsp;SHOP
                        </div>

                        <div class = "header-options"> 
                            CONTACT&nbsp;&nbsp;US
                        </div>

                        <div class = "header-options"> 
                            LOGIN
        </div>
                    
                
        <main>
            <h3>This is the Default Layout!</h3>
            {{{body}}}
        </main>
        </div>
        <!-- footer -->
    </body>
</html
            
            
           