html, body{
    height: auto;
    width: 100%;
}
.page{
    position: absolute;
    top:7%;
    height:93%;
    width: 100%;

    flex-direction: column;
    row-gap: 3vmin;
    display: flex;
    align-items: center;
    
}
.header{
    height: 7%;
    width : 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    position: absolute;
    top:0;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    z-index:  3;
    border-bottom: 1px solid rgba(212, 212, 212, 0.5);
    box-shadow: 3px 0px 8px rgba(212, 212, 212, 1) ;
    
   

}
.header-container{
    
}

.header-options{
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 2vmin;
    width: 20%;
   
    text-align: center;
}
.header-options-logo{
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: 4vmin;
    width: 25%;
 
    text-align: center;

}
.divider-header{
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.divider-icons{
    width: 5%;
    justify-content: space-around;
    align-items: center;
    display: flex;

}
.upper-menu-section{
    display: flex;
    width: 100%;
    align-items: center;
    height: 5%;

}

.content{

  
    height: 100%;
    width: 80%;
    display: flex;

}
.payment-details{
    height: 100%;
    width: 50%;
    background-color: rgba(235, 235, 235, 1);
    padding-left: 5%;
    padding-right: 5%;
    row-gap: 3vmin;
    display: flex;
    flex-direction: column;
}
.summary{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    row-gap: 3vmin;
}
.summary-desc{
    height: 10%;
    width: 90%;
    display: flex;
    flex-direction: column;

}
.summary-header{
    font-family: 'Outfit', sans-serif;
font-size: calc(3vmin);
font-weight: 600;

}
.summary-header-desc{
    font-weight: 300;
    opacity: 0.6;
    height: 100%;
    font-size: calc(2.8vmin / 2);
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    
}
.cart-body{
    height:50%;
    width: 90%;
    display: flex;
    flex-direction: column;

    /*border: 1px solid rgba(212, 212, 212, 0.5);
    box-shadow: 3px 0px 8px rgba(212, 212, 212, 1);
    */
    background-color: rgb(255, 255, 255);;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.cart-rows{
    width: 100%;
    min-height: 80%;
    max-height: 80%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 1vmin;
    
}
.cart-row{
    width: 100%;
    height: 8vmin;
    display: flex;
    justify-content: space-around;
    background-color: rgb(243, 243, 243);
    border-radius: 2%;
    border: 2px solid rgba(235, 235, 235, 1);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.03);
}
.product-image-cart{
    height: 7vmin;
    width: 7vmin;
    border-radius: 1vmin;
}
.cart-rows-item-image{
    width: 19%;
    height: 100%;
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cart-rows-item-name{
    width: 19%;
    height: 100%;
    font-family: 'Outfit', sans-serif;
    font-size: calc(3vmin / 2);
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-rows-item-quantity{
    width: 19%;
    height: 100%;
    font-family: 'Outfit', sans-serif;
    font-size: calc(3vmin / 2);
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}
.item-quantity-input{
    width: calc(5vmin/2);
    height: calc(5vmin/2);
    text-align: center;
    font-size: 1vmin;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;


}

.fa-plus:hover {
    cursor: pointer;
}
.fa-minus:hover {
    cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.cart-rows-item-price{
    width: 19%;
    height: 100%;
    font-family: 'Outfit', sans-serif;
    font-size: calc(3vmin / 2);
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-rows-item-total{
    width: 19%;
    height: 100%;
    font-family: 'Outfit', sans-serif;
    font-size: calc(3vmin / 2);
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-rows-item-remove{
    width: 5%;
    height: 100%;
    font-family: 'Outfit', sans-serif;
    font-size: calc(3vmin / 2);
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shipping-options{
    height: 30%;
    min-width: 90%;
    display: flex;
   
    flex-direction: column;
    row-gap: 1vmin;

}
.shipping-header{
    width: 100%;
    height: 10%;
   
    font-family: 'Outfit', sans-serif;
    font-size: calc(3vmin / 2);
    font-weight: 600;

}
.option-container{
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    min-height: 90%;
    row-gap: 1vmin;
    overflow-y: scroll;
    padding-top: 2px;
}
.shipping-row{
    width: 100%;
    height: 10vmin;
    display: flex;
    justify-content: start;
    background-color: rgb(243, 243, 243);
    border-radius: 2%;
    border: 2px solid rgba(235, 235, 235, 1);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.03);
}
.shipping-rows-item-image{
    width: 20%;
    height: 100%;
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}
.shipping-image-cart{
    height: 9vmin;
    width: 9vmin;
    border-radius: 1vmin;

}
.shipping-name-desc{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
   
}
.shipping-name{
    width: 100%;
    height: 50%;
  
    font-family: 'Outfit', sans-serif;
    font-size: calc(4vmin / 2);
    font-weight: 500;

}
.shipping-desc{
    font-weight: 300;
    opacity: 0.6;
    height: 50%;
    font-size: calc(2.8vmin / 2);
    font-family: 'Outfit', sans-serif;
   /* display: flex;
    align-items: center;
    justify-content: start;
    */
}
.select-shipping{
    height: 100%;
    width: 20%;
 
    display: flex;
    justify-content: space-evenly;
    align-items: center;


}
.shipping-price{
    width: 70%;
    height: 100%;
 
    font-family: 'Outfit', sans-serif;
    font-size: calc(4vmin / 2);
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shipping-select{
    width: 30%;
    height: 100%;
  
    font-family: 'Outfit', sans-serif;
    font-size: calc(4vmin / 2);
    font-weight: 500;
    display: flex;
    justify-content: start;
    align-items: center;

}


.payment-desc{
    height: 10%;
    width: 90%;
    display: flex;
    flex-direction: column;
    
}

.payment-header{
    font-family: 'Outfit', sans-serif;
font-size: calc(3vmin);
font-weight: 600;

}
.payment-header-desc{
    font-weight: 300;
    opacity: 0.6;
    height: 100%;
    font-size: calc(2.8vmin / 2);
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 80%;
    
}
.checkout-form{
    height:  85%;
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    
    row-gap: 1vmin;
}

.buy-container{
    width: 100%;
    display: flex;
    justify-content: center;

}
.input-label{
    width: 100%;
    font-family: 'Outfit', sans-serif;
    font-size: calc(3vmin / 2);
    font-weight: 600;
    display: flex;
    justify-content: start;
    column-gap: 1vmin;

}
.input-field{
    padding-left: 1vmin;
    padding-right: 1vmin;
    height: 5vmin;
    width: 100%;
    background-color: white;
    align-items: center;  
    display: flex;  
    column-gap: 1vmin;
    
    border : 1px solid rgb(212, 212, 212);
    border-radius: 4px;

}
.error{
    color: red;
    font-family: 'Outfit', sans-serif;
    font-size: calc(3vmin / 2);
    font-weight: 300;
    display: none;
}
.input-field:focus{
    border : 1px solid rgb(0, 0, 0);
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.email{
    box-shadow : none;  
    outline: none;
    border-style: none;
     background-color: white; 
}


.input-text-box {
    width: 100%;
    height: calc(5vmin / 2);
   
    border: none;
    font-family: 'Outfit', sans-serif;
    font-size: calc(3vmin / 2);
    align-items: center;
}
.email-input{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: calc(1vmin /2);
}
.card-input{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;

}
.card-number{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: calc(1vmin /2);
}
.exp-date{
    width: 17%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: calc(1vmin /2);
}
.postal-input{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: calc(1vmin /2);
}
.shipping-input{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: calc(1vmin /2);
}
.country{
    width: 10%;
    height: 100%;
    border-right: 1px solid rgb(212, 212, 212);;
}
.input-field-shipping{
    padding-left: 1vmin;
    padding-right: 1vmin;
    height: 5vmin;
    width: 100%;
    background-color: white;
    align-items: center;  
    display: flex;  
    column-gap: 1vmin;
    
    border : 1px solid rgb(212, 212, 212);
    border-radius: 4px;
    

}
.shipping-info{
    display: flex;
    justify-content: start;
    flex-direction: column;
}
.postal-code-shipping{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: start;
    border-right: 1px solid rgb(212, 212, 212);
    align-items: center;
}
.input-text-box-postal {
    width: 50%;
    height: calc(3vmin / 2);
   
    border: none;
    font-family: 'Outfit', sans-serif;
    font-size: calc(3vmin / 2);
    align-items: center;
}
.totals{
    height: auto;
    width: 100%;
 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    row-gap: 1vmin;

}
.subtotal{
    font-weight: 500;
    height: 3vmin;
    font-size: calc(3.5vmin / 2);
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 50%;


}
.subtotal-value{
    font-weight: 400;
    height: 3vmin;
    font-size: calc(2.8vmin / 2);
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 50%;
 
}
.tax{
    font-weight: 400;
    height: 3vmin;
    font-size: calc(2.8vmin / 2);
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 50%;
   
}
.tax-value{
    font-weight: 400;
    height: 3vmin;
    font-size: calc(2.8vmin / 2);
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 50%;
   
}
.line-payment{
    color: rgb(44, 44, 44);
    height: 4px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.line {
    color: rgb(44, 44, 44);
    height: 4px;
    width: 100%;
  }
  .total{
    font-weight: 600;
    height: 3vmin;
    font-size: calc(3.5vmin / 2);
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 50%;

  }
  .total-value{
    font-weight: 700;
    height: 3vmin;
    font-size: calc(2.8vmin / 2);
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 50%;

  }
 
  .pay {
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: calc(3vmin /2);
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    border: none;
    width: 80%;
    height: 6vmin;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
  }
  .cart-rows-header{
    display: flex;
    height: 5%;
    width: 100%;
    justify-content: space-around;
}
.cart-rows-header-text{
    width: 19%;
    height: 100%;
    font-family: 'Outfit', sans-serif;
    font-size: calc(3vmin / 2);
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    text-decoration: none !important;
    color: black !important;
  }

  