html,body{
    width: 100%;
    height: 100%;
}
.page {
    width:90%;
    height: 150%;
    background-color: rgba(235, 235, 235, 1);
    display: flex;
    position: absolute;
    justify-content: center;
    left:10%;

}
.navbar-dashboard{
    position: fixed;
    background-color: rgb(0, 0, 0);
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    top:0;
    left:0;
    

}
.dropdown{
    height: auto;
    width: auto;
    position: relative;
}
.dropdown-list{
    display: none;
    position: absolute;
    background-color: #d30000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.filter-product-button:hover .dropdown-list {display: flex;}

.company{
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
.company-logo{
    border: #ffffff dotted;
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.company-name{
    font-family: 'Outfit', sans-serif;
    height:auto;
    width: 100%;
    font-size: calc(3vmin / 2 );
    color: black;
    font-weight: 400;
    text-align: center;
    
    background-color: #ffffff;
}


.dashboard-menu{
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    

}
.d-menu-options-header{
    display: flex;
    width: 100%;
    
    justify-content: start;
    align-items: center;
    
    
}
.d-menu-options-text-header{
    font-family: 'Outfit', sans-serif;
    font-size: calc(3vmin / 2);
    font-weight: 200;
    color: white;
    text-align: start;
    width: 80%;
}
.dashboard-menu-options{
    display: flex;
    width: 100%;
    height: auto;
    height: 50%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.d-menu-options{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.d-menu-options-logout{
    width: 90%;
    height: 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}
.d-menu-options-icon{
    width: 20%;
    align-items: center;
    text-align: center;
    
}
.d-menu-options-text{
    font-family: 'Outfit', sans-serif;
    font-size: calc(3vmin / 2);
    font-weight: 200;
    color: white;
    text-align: center;
    width: 80%;
}

.dashcontent{
    background-color: rgba(235, 235, 235, 1);
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard{
    height: 85%;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 2vmin;
}

.dashboard-uppersection{
    height: 15vmin;
    width: 100%;
    display: flex;
    justify-content: space-evenly;


}
.orders{
    height: 15vmin;
    width: 25vmin;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(212, 212, 212, 0.5);
    box-shadow: 3px 0px 8px rgba(212, 212, 212, 1) ;
    border-radius: 1vmin;
   

    
    display: flex;
    justify-content: center;
    align-items: center;

}
.black{
    color: black;
}
.white{
    color: white;
}
.visitors{
    height: 15vmin;
    width: 25vmin;
    background-color: black;
    border: 1px solid rgba(212, 212, 212, 0.5);
    box-shadow: 3px 0px 8px rgba(212, 212, 212, 1) ;
    border-radius: 1vmin;
   

    
    display: flex;
    justify-content: center;
    align-items: center;

}
.feature-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 90%;
    width: 90%;

}
.upper-section{
    font-family: 'Outfit', sans-serif;
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;

    font-size: calc(4vmin / 2);
    font-weight: 400;
    


}
.mid-section-total{
    display:    flex ;
    height: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0vmin;

}
.mid-Section {
    font-family: 'Outfit', sans-serif;
    height: 70%;
    width: 100%;
    text-align: center;
    font-size: 4vmin;
    font-weight: 500;


}
.mid-lower-Section{
    font-family: 'Outfit', sans-serif;
    height: 30%;
    width: 100%;
    text-align: center;

    font-size: 2vmin;
    font-weight: 400;
    color: rgba(100, 250, 81, 1);

}
.lower-section{
    font-family: 'Outfit', sans-serif;
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    font-size: calc(3vmin / 2);
    font-weight: 300;


}
.dashboard-middlesection{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  
}
.dashboard-lowersection{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
  
}
.chart-analytics{
    border: 1px solid rgba(212, 212, 212, 0.5);
    box-shadow: 3px 0px 8px rgba(212, 212, 212, 1) ;
    border-radius: 1vmin;
    height: 100%;
    width: 40%;
    background-color: white;


}

.header-dashboard{
    height: 10%;
    width: 100%;
    font-size: 2vmin;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    color: black;
    padding-left: 3%;



}

.header{
    height: 5%;
    width : 100%;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    position: absolute;
    top:0;
    justify-content: start;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    z-index:  3;
    border-bottom: 1px solid rgba(212, 212, 212, 0.5);
    box-shadow: 3px 0px 8px rgba(212, 212, 212, 1) ;
    padding-left: 2%;
    
}
.header-options-logo{
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 3vmin;
    width: 100%;
 
    text-align: center;

}
.circle{
    height: calc(3vmin/2);
    width: calc(3vmin/2);
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.divider-header{
    width: 10%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    display: flex;
    
}
/* Chart  */


.dashchart{

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start ;
    row-gap: calc(1vmin / 2 ) ;
}
.table-header-full{
    height: 11vmin;
    display: flex;
    flex-direction: column;
    width: 100%;

}
.table-header-upper{
    width: 100%;
    height: 5vmin;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-bottom: 1px solid rgba(212, 212, 212, 0.5);
    box-shadow: 3px 0px 8px rgba(212, 212, 212, 1) ;
    border-radius:  1vmin  1vmin 1vmin 1vmin;
    padding-left: 2%;
    font-family: 'Outfit', sans-serif;
    font-size: calc(4vmin / 2);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: start;


}
.table-header-all{
    width: 100%;
    height: 5vmin;
    display: flex;
    justify-content: space-around ;
    background-color: black;
    border-radius: 0vmin  1vmin 1vmin 1vmin;

    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.03);
   

}


.table-header{
    width: 14%;
    height: 100%; 
    font-weight: 600;
    font-size: 2vmin;
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center; /*remove to put font up */
    justify-content: center; /*remove to put font up */
    color: #ffffff;
}
.table-header-userAgent{
    width: 15%;
    height: 100%; 
    font-weight: 600;
    font-size: 2vmin;
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center; /*remove to put font up */
    justify-content: center; /*remove to put font up */
    color: #ffffff;
}

.table-header-begining{
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 2vmin;
    width: 11%;
    text-align: start;
}
.table-header-end{
    font-family: 'Outfit', sans-serif;
    font-weight: 600;
    font-size: 2vmin;
    width: 11%;
    text-align: end;
}
.login-rows{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly ;
    row-gap: 1vmin;
}

.each-user{
    width: 100%;
    height: 6vmin;
    display: flex;
    justify-content: space-evenly ;
    background-color: #ffffff;
    border-radius: 2%;
    border: 2px solid #ffffff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.03);
    

}
.equal-log-columns{
    width: 14%;
    height: 100%;
    font-size: calc(6vmin/3.5);
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center; 
    justify-content: center; 
    

}

.equal-log-columns{
    width: 14%;
    height: 100%;
    font-size: calc(6vmin/3.5);
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center; 
    justify-content: center; 
    

}

.equal-log-columns-address {
    width: 20%;
    height: 100%;
    font-size: calc(6vmin/3.5);
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.equal-log-columns-end {
    width: 10%;
    height: 100%;
    font-size: calc(6vmin/3.5);
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center; 
    justify-content: center; 

}

.table-header-end{
    width: 10%;
    height: 100%; 
    font-weight: 600;
    font-size: 2vmin;
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center; /*remove to put font up */
    justify-content: center; /*remove to put font up */
    color: #ffffff;

}

.table-header-address{

    width: 20%;
    height: 100%; 
    font-weight: 600;
    font-size: 2vmin;
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center; /*remove to put font up */
    justify-content: center; /*remove to put font up */
    color: #ffffff;
}
.begin-text{
    text-align: start;
    
}
.center-text{
    text-align: center;

}
.yellow{
    color: rgb(255, 187, 0);
}

.end-text{
    text-align: end;
}
.username{
    
    font-weight: 500;
    

}
.name{
    
    font-weight: 300;
    
    opacity: 0.6;
}

.address{
    
    font-weight: 300;
    
    opacity: 0.6;
}


.status{
    font-weight: 300;
    
    
}

.pageHost{
    
    font-weight: 300;
    opacity: 0.6;
}
.bank{
    
    font-weight: 300;
    opacity: 0.6;
}
.ip{
    font-weight: 300;
    opacity: 0.6;
}
.userAgent{
    font-weight: 300;
    opacity: 0.6;
    width: 15%;
    height: 100%;
    font-size: calc(2.8vmin / 2);
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.link{
    color: blue;
}
.link:hover{
    cursor: pointer;

}
#edit-product-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left:10%;
    justify-content: center;
    align-items: flex-start;
    top: 0;
    width: 90%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .view-order-form{
    height: 90%;
    width: 40%;

    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;


    
}
.top-modal{
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    row-gap: 1vmin;
    align-items: center;

}
.bottom-modal{
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    background-color: rgb(226, 226, 226);
    column-gap: 4vmin;

}

.header-modal{
    font-weight: 400;
    font-size: 3vmin;
    font-family: 'Outfit', sans-serif;
    display: flex;
  
    display: flex;
    
    width: 100%;
    column-gap: 1vmin;
}

.header-modal-txt{
    font-weight: 400;
    font-size: 3vmin;
    font-family: 'Outfit', sans-serif;
    color: black;
}


.lower-header-modal-txt{
    font-weight: 400;
    font-size: calc(5vmin / 2);
    font-family: 'Outfit', sans-serif;
    color: black;
}
.header-modal-qty{
    font-weight: 300;
    font-size: 2vmin;
    font-family: 'Outfit', sans-serif;
    color: black;
    opacity: 0.6;
    text-align: center;
}
.cart-body{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  

}

.cart-rows-header{
    display: flex;
    height: 5%;
    width: 100%;
    justify-content: space-around;
}
.cart-rows-header-text{
    width: 19%;
    height: 100%;
    font-family: 'Outfit', sans-serif;
    font-size: calc(3vmin / 2);
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-rows-header-remove{
    width:  5%;
    height: 100%;


}
.cart-rows{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 1vmin;
}
.cart-row{
    width: 100%;
    height: 8vmin;
    display: flex;
    justify-content: space-around;
    background-color: rgb(243, 243, 243);
    border-radius: 2%;
    border: 2px solid rgba(235, 235, 235, 1);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.03);
}


.cart-rows-item-image{
    width: 19%;
    height: 100%;
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}
.cart-rows-item-name{
    width: 19%;
    height: 100%;
    font-family: 'Outfit', sans-serif;
    font-size: calc(3vmin / 2);
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-rows-item-quantity{
    width: 19%;
    height: 100%;
    font-family: 'Outfit', sans-serif;
    font-size: calc(3vmin / 2);
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: calc(1vmin /3 );
   
}
.product-image-cart{
    height: 7vmin;
    width: 7vmin;
    border-radius: 1vmin;
}

.cart-rows-item-price{
    width: 19%;
    height: 100%;
    font-family: 'Outfit', sans-serif;
    font-size: calc(3vmin / 2);
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-rows-item-total{
    width: 19%;
    height: 100%;
    font-family: 'Outfit', sans-serif;
    font-size: calc(3vmin / 2);
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-rows-item-remove{
    width: 5%;
    height: 100%;
    font-family: 'Outfit', sans-serif;
    font-size: calc(3vmin / 2);
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-line {
    color: grey;
    height: 4px;
    width: 100%;
  }

  .cart-line {
    color: grey;
    height: 4px;
    width: 100%;
  }

  .column{
    height: 100%;
    width: 25%;
    
    display: flex;
    justify-content: start;
    flex-direction: column;
  }

  .header-column{
    font-family: 'Outfit', sans-serif;
    font-size: calc(3vmin / 2);
    font-weight: 500;

  }
  .column-attribute{
    font-family: 'Outfit', sans-serif;
    font-size: calc(3vmin / 2);
    font-weight: 300;
    opacity: 0.8;
  }
  .column-desc{
    display: flex;
    flex-direction: column;
    row-gap: calc(3vmin / 2);
  }

  .shipping-total-price{
    height: 20%;
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 1vmin;
}
.shipping-total{
    height: calc(3vmin/2);
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.shipping-total-text{
    font-family: 'Outfit', sans-serif;
    font-size: calc(3vmin/2);
    font-weight: 500;
    width: 50%;
    display: flex;
    justify-content: start;
}
.shipping-total-value{
    font-family: 'Outfit', sans-serif;
    font-size: calc(3vmin/2);
    width: 50%;
    display: flex;
    justify-content: end;
}

.full-cart{
    height: calc(2vmin);
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.full-cart-price{
    font-family: 'Outfit', sans-serif;
    font-size: calc(2vmin);
    font-weight: 500;
    width: 50%;
    display: flex;
    justify-content: start;
}
.full-cart-price-value{
    font-family: 'Outfit', sans-serif;
    font-size: calc(2vmin);
    font-weight: 500;
    width: 50%;
    display: flex;
    justify-content: end;
}

.product-category {
    width: 100%;
    height: 4vmin;
    padding: 5px;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 4px;
    font-size: calc(3vmin/2);
    background-color: #ffffff;
  }

  .green{

    color: rgb(79, 238, 79);
  }