html, body{
    height: auto;
    width: 100%;
}
.page{
    position: absolute;
    top:7%;
    height:93%;
    width: 100%;
    padding-top: 2%;
    flex-direction: column;
    row-gap: 3vmin;
    display: flex;
    align-items: center;
    
}
.header{
    height: 7%;
    width : 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    position: absolute;
    top:0;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    z-index:  3;
    border-bottom: 1px solid rgba(212, 212, 212, 0.5);
    box-shadow: 3px 0px 8px rgba(212, 212, 212, 1) ;
    
   

}
.header-container{
    
}

.header-options{
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 2vmin;
    width: 20%;
   
    text-align: center;
}
.header-options-logo{
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: 4vmin;
    width: 25%;
 
    text-align: center;

}
.divider-header{
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.divider-icons{
    width: 5%;
    justify-content: space-around;
    align-items: center;
    display: flex;

}
.upper-menu-section{
    display: flex;
    width: 100%;
    align-items: center;
    height: 5%;

}

.product-category{
    width : 20%;
    font-size: calc(3vmin / 2 );
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.number-results{
    width: 80%;
    font-size: calc(3vmin / 2 );
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: flex-start;
    align-items: center ;
}
.main-content{

    display: flex;
    height: 88%;
    width: 100%;
   
 

}

.products{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content:  flex-start space-evenly;
    flex-wrap: wrap;
    row-gap: 1vmin;
    column-gap: 3vmin;
  


}

.filters{  /*  */
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;
    

    
}
.header-filter{   /*  */
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: 4vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    height: 10%;

}
.header-filter-line{
    color: grey;
    height : 4px; 
    width: 100%;
  
}

.category{  /*  */
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 35%;
    row-gap: 1vmin;
}
.category-header{
    font-size: calc(3vmin / 2 );
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    width: 100%;
}
.categories-hr{
    height: 3px;
    width: 2vmin;
    background-color : rgb(255, 153, 0);
}
.category-options{
    width: 100%;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    font-size: calc(3vmin / 2);
    display: flex;
    flex-direction: column;
    row-gap: calc(1vmin / 2 );

}
.categories-hr-cocoa{
    background-color : rgb(82, 49, 0);
    height: 3px;
    width: 2vmin;
}
.cart-header{   /*  */
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: 4vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 10%;

}
.cart {  /*  */
    height: 35%;
    width: 90%;
    display: flex;
    flex-direction: column;
    row-gap: calc(1vmin / 4);
}
.cart-item{
    width: 100%;
    height: 20%;
    background-color: white;
    border: 1px solid rgba(212, 212, 212, 0.5);
    box-shadow: 3px 1px 8px rgba(212, 212, 212, 1) ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cart-quantity{
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: calc(3vmin / 2 );
    width: 15%;
    justify-content: center;
    align-items: center;
    display: flex;
   
    column-gap: calc(1vmin / 5);
    
}
.cart-product{
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
    font-size: calc(3vmin / 2 );
    width: 55%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.cart-total{
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: calc(3vmin / 2 );
    width: 15%;
    justify-content: start;
    align-items: center;
    display: flex;
}
.cart-edit{
    width: 15%;
    justify-content: space-around;
    align-items: center;
    display: flex;
    height: 100%;

}
.total{   /*  */
    height: 10%;
    width: 70%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    

}
.line-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1vmin;
}
.tax-subtotal{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.tax{
    font-family: 'Outfit', sans-serif;
    font-size: calc(3vmin / 2);
    font-weight: 400;
    width: 50%;
    text-align: end;
}
.full-total{
    display: flex;
  
    column-gap: 1vmin;
}
.total-text {

    font-family: 'Outfit', sans-serif;
    font-size: calc(5vmin / 2);
    font-weight: 400;
}
.total-price{
    font-family: 'Outfit', sans-serif;
    font-size: calc(5vmin / 2);
    font-weight: 400;
}

.subtotal{

}
.full-subtotal{
    font-family: 'Outfit', sans-serif;
    font-size: calc(3vmin / 2);
    font-weight: 400;
    width: 50%;
    text-align: start;
    display: flex;
    column-gap: 1vmin;
}


.product{
    width: 22vmin;
    height: 37vmin;
    background-color:rgb(255, 255, 255);
    border: 1px solid rgba(212, 212, 212, 0.5);
    box-shadow: 3px 0px 8px rgba(212, 212, 212, 1) ;

    display: flex;
    flex-direction: column;
    border-radius: 1vmin;
    overflow: hidden;
    
}



.product-info{
    height: 15vmin;
    width: 100%;
    padding-top: 2%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.weight-quantity{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
}
.weight{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}
.quantity{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}
.product-image{
    height: 22vmin;
    width: 22vmin;
    
}
.weight-quantity-text{
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
    font-size: calc(3vmin/2) ;
    color: #a0a0a0
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

.product-header-item{
    color: black;
    font-family: 'Rubik Distressed', cursive;
    font-size: 2vmin;
    height: 5vmin;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    font-weight: 400;
    line-height: 100%;
 
    
}
.price-desc{
    display: flex;
    height: 4vmin;
    padding-left: 2%;
    padding-right: 2%;

}
.unit{
    font-family: 'Outfit', sans-serif;
    font-size: calc(3vmin/2vmin) ;
    font-weight: 200;
    color: #a0a0a0
}
.price{
    font-family: 'Outfit', sans-serif;
    font-size: calc(3vmin) ;
    color: black;
    font-weight: 200;
 
   
}

.add-to-cart{
    background-color: rgb(255, 153, 0);
    color: white;
    font-size:calc(3vmin /2);
    font-family: 'Rubik Distressed', cursive;
    font-weight: 300;
    border: none;
    width: 100%;
    height: 4vmin;
    text-align: center;
    justify-content: center;
    
}

.checkout-button{
    background-color: rgb(255, 153, 0);
    color: white;
    font-size:calc(3vmin /2);
    font-family: 'Rubik Distressed', cursive;
    font-weight: 300;
    border: none;
    width: 100%;
    height: 5vmin;
    text-align: center;
    justify-content: center;
    
}



.changecolor:hover{
    color: black;
    cursor: pointer;
}
.changecolor{
    color: #a0a0a0;
}

#user-cart-modal{
display: none;
position: fixed;
z-index: 1;
justify-content: center;
align-items: center;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgb(0,0,0);
background-color: rgba(0,0,0,0.4);
}

.item-quantity-input-page{
    width: calc(5vmin/2);
    height: calc(5vmin/2);
    text-align: center;
    font-size: 1vmin;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;


}
/***CART MODAL****/
.user-cart{
    background-color: white;
    height: 65vmin;
    width: 110vmin;
    
    display: flex;
    

}
.cart-line{
    color: grey;
    height : 4px; 
    width: 100%;
 
    
}

.header-user-cart-text{
    font-family: 'Outfit', sans-serif;
    font-size: calc(3vmin);
    font-weight: 500;
}
.header-user-cart{
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
  
}
.cart-body{
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

}
.cart-footer{
    height: 10%;
    width: 100%;

    display: flex;
    justify-content: start;
    align-items: end;

}

.cart-rows{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 1vmin;
}
.cart-row{
    width: 100%;
    height: 8vmin;
    display: flex;
    justify-content: space-around;
    background-color: rgb(243, 243, 243);
    border-radius: 2%;
    border: 2px solid rgba(235, 235, 235, 1);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.03);
}
.container-cart{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 2vmin;
}
.user-cart-total{
    height: 100%;
    width : 30%;
    background-color: rgba(235, 235, 235, 1);
    padding: 2vmin;
}
.cart-rows-header{
    display: flex;
    height: 5%;
    width: 100%;
    justify-content: space-around;
}
.cart-rows-header-text{
    width: 19%;
    height: 100%;
    font-family: 'Outfit', sans-serif;
    font-size: calc(3vmin / 2);
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-rows-header-remove{
    width:  5%;
    height: 100%;


}
.cart-rows-item-image{
    width: 19%;
    height: 100%;
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;

}
.cart-rows-item-name{
    width: 19%;
    height: 100%;
    font-family: 'Outfit', sans-serif;
    font-size: calc(3vmin / 2);
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-rows-item-quantity{
    width: 19%;
    height: 100%;
    font-family: 'Outfit', sans-serif;
    font-size: calc(3vmin / 2);
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: calc(1vmin /3 );
   
}
.item-quantity-input{
    width: calc(5vmin/2);
    height: calc(5vmin/2);
    text-align: center;
    font-size: 1vmin;
    font-family: 'Outfit', sans-serif;
    font-weight: 300;


}

.fa-plus:hover {
    cursor: pointer;
}
.fa-minus:hover {
    cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.cart-rows-item-price{
    width: 19%;
    height: 100%;
    font-family: 'Outfit', sans-serif;
    font-size: calc(3vmin / 2);
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-rows-item-total{
    width: 19%;
    height: 100%;
    font-family: 'Outfit', sans-serif;
    font-size: calc(3vmin / 2);
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-rows-item-remove{
    width: 5%;
    height: 100%;
    font-family: 'Outfit', sans-serif;
    font-size: calc(3vmin / 2);
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-image-cart{
    height: 7vmin;
    width: 7vmin;
    border-radius: 1vmin;
}
.header-user-cart-total-text{
    font-family: 'Outfit', sans-serif;
    font-size: calc(3vmin);
    font-weight:500;
}
.cart-total-body{
    height: 85%;
    width: 100%;

}
.order-info-quantity{
    height: 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.order-items-quantity{
    height: 100%;
    width: 30%;
    display: flex;
}
.order-info-text{
    height: 100%;
    width: 50%;
        height: 100%;
    font-family: 'Outfit', sans-serif;
    font-size: calc(3vmin / 2);
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;

}
.order-info-price{
    height: 100%;
    width: 20%;
    height: 100%;
    font-family: 'Outfit', sans-serif;
    font-size: calc(3vmin / 2);
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shipping-info-text{
    height: 3vmin;
    width: 50%;
    
    font-family: 'Outfit', sans-serif;
    font-size: calc(3vmin / 2);
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;



}
.shipping-details{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    row-gap: 1vmin;
}
.shipping-selector{
    width: 100%;
    height: 4vmin;
    padding: 5px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    background-color: white;
    font-size: calc(3vmin /2);
    color: #6a6a6a;
}
.shipping-total-price{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1vmin;
}
.shipping-total{
    height: calc(3vmin/2);
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.shipping-total-text{
    font-family: 'Outfit', sans-serif;
    font-size: calc(3vmin/2);
    font-weight: 500;
    width: 50%;
    display: flex;
    justify-content: start;
}
.shipping-total-value{
    font-family: 'Outfit', sans-serif;
    font-size: calc(3vmin/2);
    width: 50%;
    display: flex;
    justify-content: end;
}
.full-cart{
    height: calc(2vmin);
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.full-cart-price{
    font-family: 'Outfit', sans-serif;
    font-size: calc(2vmin);
    font-weight: 500;
    width: 50%;
    display: flex;
    justify-content: start;
}
.full-cart-price-value{
    font-family: 'Outfit', sans-serif;
    font-size: calc(2vmin);
    font-weight: 500;
    width: 50%;
    display: flex;
    justify-content: end;
}
.checkout-button-cart{
    background-color: rgb(255, 153, 0);
    color: white;
    font-size: calc(3vmin /2);
    font-family: 'Rubik Distressed', cursive;
    font-weight: 300;
    border: none;
    width: 100%;
    height: 4vmin;
    text-align: center;
    justify-content: center;
}
.button-container{
    height: 7vmin;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.return{
    display: flex;
    width: auto;
  
    justify-content: start;
    align-items: center;
    column-gap: calc(3vmin /2);
   
}
.blue{
    color: #00a3de;
}
.return-text{
    width: auto;
    height: 100%;
    font-family: 'Outfit', sans-serif;
    font-size: calc(3vmin / 2);
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.return:hover{
    cursor: pointer;
}